.page {
	position: relative;
	display: flex;
	background-image: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 50%);
}

.sidebar {
	height: 100vh;
	position: fixed;
}

.leaflet-zoom-anim
.leaflet-zoom-animated {
	transition-timing-function: linear;
	transition-duration: 100ms;
}

#key{
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(200,220,230, 80%);
	z-index: 50;
}



/*.top-row1 {
	height: 3.5em;
	min-height: 3.5em;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100vw;
	mix-blend-mode: lighten;
}*/

/*#map {
	overflow: auto;
	min-width: 100vw;
	min-height: calc(100vh - 5em);
	height: calc(100vh - 5em);
}*/

/*.branding1 {
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
}

.top-row1 {
	height: 3.5em;
	min-height: 3.5em;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100vw;
	mix-blend-mode: lighten;
	justify-content: space-between;*/
	/*	padding: 0 1em;
*/ /*position: relative;
}

.branding1{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;*/ /* Center the text */
	/*padding-left: 3em;
	z-index: -1;
}*/