* {
	--width2: 220px;
}


.menubar {
	display: grid;
	grid-template-columns: auto;
	height: 100%;
	transition: all .25s ease;
	width: var(--width2);
}


@property --myColor1 {
	syntax: '<color>';
	initial-value: rgba(200,220,230, 90%);
	inherits: false;
}

@property --myColor2 {
	syntax: '<color>';
	initial-value: rgba(255,255,255, 0%);
	inherits: false;
}

@property --myColor2Static {
	syntax: '<color>';
	initial-value: rgba(255,255,255, 40%);
	inherits: false;
}

.it {
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	transition: var(--myColor1), var(--myColor2) .25s ease, all .25s ease;
}




.child {
	height: 20px;
	width: 20px;
}

.it {
	-webkit-user-select: none; /*Safari*/
	user-select: none;
	cursor: pointer;
}


.inner {
	height: calc(6/21*100vh);
	background-color: blue;
}


.searchbox {
	width: calc(0.8*var(--width2));
	height: 100%;
	margin: auto;
	background: linear-gradient(90deg, var(--myColor2Static) 20%, var(--myColor2Static) 90%);
	border: 2px solid var(--myColor1);
	/*	mix-blend-mode: color-dodge;
*/ outline: none;
	border-radius: 5px;
}
