@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<PageTitle>HCA Healthcare</PageTitle>

<div class="page">
	<div class="body">
		<div class="top-row px-4">
			<div class="top-row2 ps-3 navbar">
				<a class="navbar-brand" href=""><b>HCA Healthcare</b></a>
			</div>
		</div>
		<div class="bottom-line"></div>
		<main>
			@ChildContent
		</main>
	</div>
</div>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
}