@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<PageTitle>HCA Healthcare</PageTitle>

<div class="page">
	@* <div class="top-row">
		<a class="branding" href=""><b>HCA Healthcare</b></a>
	</div> *@
	<main>
		@ChildContent
		@if (searchEnabled)
		{
			<div class="left-sidebar sidebar"></div>
		}
		@if (selectedEmployee != null)
		{
			<div class="right-sidebar sidebar"></div>
		}
	</main>
</div>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	bool searchEnabled=true;
	bool? selectedEmployee = true;
}