body {
	margin: 0px;
	overflow: hidden;
}

#main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 50%);
}

/*.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}*/

/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: relative;
}

#back-button button {
    background-color: transparent;
    border: none;
	color: white;*/
/*padding: 8px 15px;*/
/*border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

#back-button button:hover {
    background-color: transparent;
}

.navbar-title {
    position: absolute;
	color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
	font-size: 20px;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
}

.navbar-collapse {
    display: flex;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
}

.nav-item.active .nav-link {
    font-weight: bold;
}*/

.Zcontent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow-y: hidden;
}

.Zcolumn {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	scrollbar-width: none;
	overflow: auto;
	scrollbar-width: none;
}

.Zcard {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: calc( 65vw / 2 );
	width: 100%;
}

	.Zcard.tall {
		min-height: 65vw;
	}

.x1 {
	min-width: 40%;
	height: 100%;
	scroll-snap-align: end;
}

.x2 {
	min-width: 60%;
	height: 100%;
	scroll-snap-align: start;
}

@media(max-width: 1000px) {
	.x1, .x2 {
		position: relative;
		min-width: 100%;
		left: 50%;
	}

	.Zcard {
		min-height: 70vw;
	}

		.Zcard.tall {
			min-height: 140vw;
		}

	.squish {
		min-height: 140vw;
		flex-direction: column;
	}

		.squish .Zcard-content {
			margin-left: 1.5em;
		}

		.squish :last-child {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
		}
}

.Zcard-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc( 100% - 3em );
	height: calc( 100% - 1.5em );
	background-color: white;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow-y: hidden;
}

@media(min-width: 1001px) {
	.squish .Zcard-content {
		margin-left: 1.5em;
	}

	.squish :last-child {
		margin-right: 1.5em;
	}
}

.Zcolumn .Zcard:first-of-type {
	align-items: center;
}

	.Zcolumn .Zcard:first-of-type .Zcard-content {
		height: calc(100% - 3em);
	}


/* Row takes full height, ensuring proper layout */
.row {
	height: 100%;
}

.Zcard-content, .tableHolder {
	background-color: white;
	border-radius: 1.5em;
}

.Zcolumn {
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-bottom: 0em;
}

.tableHolder {
	margin-top: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	width: calc(100% - 1.5em);
}

	.tableHolder:last-of-type {
		margin-top: 0em;
	}

	.tableHolder:first-of-type {
		min-height: calc(100% - 3em);
	}

@media(max-width: 1000px) {
	.tableHolder {
		margin-left: 1.5em;
		width: calc(100% - 3em);
	}
}




/*
.top-row {
	height: 3.5em;
	min-height: 3.5em;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100vw;
	mix-blend-mode: lighten;
	justify-content: space-between;
}
*/
main {
	overflow: auto;
	min-width: 100vw;
	min-height: calc(100vh - 3.5em);
	height: calc(100vh - 3.5em);
}

.branding {
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	line-height: 1em;
}



.top-row {
	height: 3.5em;
	min-height: 3.5em;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100vw;
	mix-blend-mode: lighten;
	justify-content: space-between;
	position: relative;
}

.branding:first-of-type {
	margin-right: auto; /* Pushes the first branding to the left */
}

.branding:last-of-type {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center; /* Center the text */
	padding-left: 3em;
	z-index: -1;
}

.clickable-row:hover {
    cursor: pointer;
}

.clickable-row:hover {
    cursor: pointer;
}