body {
	margin: 0px;
	overflow: hidden;
}

#main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 50%);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #333;
	color: white;
}

.Zcontent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow-y: hidden;
}

.Zcolumn {
	position: relative;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	scrollbar-width: none;
	overflow: auto;
	scrollbar-width: none;
}

.Zcard {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: calc( 65vw / 2 );
	width: 100%;
}

	.Zcard.tall {
		min-height: 65vw;
	}

.x1 {
	min-width: 40%;
	height: 100%;
	scroll-snap-align: end;
}

.x2 {
	min-width: 60%;
	height: 100%;
	scroll-snap-align: start;
}

@media(max-width: 900px) {
	.x1, .x2 {
		position: relative;
		min-width: 100%;
		left: 50%;
	}

	.Zcard {
		min-height: 70vw;
	}

		.Zcard.tall {
			min-height: 140vw;
		}

	.squish {
		min-height: 140vw;
		flex-direction: column;
	}

		.squish .Zcard-content {
			margin-left: 1.5em;
		}

		.squish :last-child {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
		}
}

.Zcard-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc( 100% - 3em );
	height: calc( 100% - 1.5em );
	background-color: white;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow-y: hidden;
}

@media(min-width: 901px) {
	.squish .Zcard-content {
		margin-left: 1.5em;
	}

	.squish :last-child {
		margin-right: 1.5em;
	}
}

.Zcolumn .Zcard:first-of-type {
	align-items: center;
}

	.Zcolumn .Zcard:first-of-type .Zcard-content {
		height: calc(100% - 3em);
	}


/* Row takes full height, ensuring proper layout */
.row {
	height: 100%;
}

.Zcard-content, .tableHolder {
	background-color: white;
	border-radius: 1.5em;
}

.Zcolumn {
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-bottom: 0em;
}

.tableHolder {
	margin-top: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

	.tableHolder:first-of-type {
		margin-bottom: 0em;
	}

@media(max-width: 800px) {
	.tableHolder {
		margin-left: 1.5em;
	}
}
