form {
	display: flex;
	justify-content: center;
	align-items: center;
	mix-blend-mode: lighten;
	margin-bottom: 1em;
}
br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

input[type="text"] {
	padding: 40px, 70px;
	border: none;
	border-radius: 10px;
	height: 45px;
	max-width: 500px;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.9);
}

.nav-item {
	font-size: 1em;
	margin-top: 0.5em;
}

	.nav-item ::deep a {
		color: #000;
		border-radius: 4px;
		height: 2.5em;
		display: flex;
		align-items: center;
		line-height: 2em;
		background-color: transparent;
		border: 2px solid black;
		padding: 0.5em 1em !important;
		display: flex;
		justify-content: center;
	}

		.nav-item ::deep a:hover {
			background-color: black;
			color: #FFF;
		}

.treeContainer {
	height: calc(100vh - 3.5em);
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	mix-blend-mode: overlay;
	margin: 0px;
	padding: 0px;
}

.box {
	width: calc(90% / 4);
	min-width: 250px;
	height: 11.5em;
	padding: 1em;
	margin: 5px 5px 5px 5px;
/*	border: solid 2px var(--text);*/
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: var(--text);
	font-size: 1em;
}

body{
	background-color: transparent;
}

.custom {
	color: var(--text);
}



main {
	overflow: auto;
	min-width: 100vw;
	min-height: calc(100vh - 3.5em);
	height: calc(100vh - 3.5em);
}

.branding {
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
}



.top-row {
	height: 3.5em;
	min-height: 3.5em;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100vw;
	mix-blend-mode: lighten;
	justify-content: space-between;
	position: relative;
}

.branding:first-of-type {
	margin-right: auto; /* Pushes the first branding to the left */
}

.branding:last-of-type {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center; /* Center the text */
	padding-left: 3em;
	z-index: -1;
}
