@page "/tree/{LocID}"
@using AISComp.Tools
@* @using AISComp.Components.Shared*@
@inject IJSRuntime jsRuntime
@using System.Text.Json;
@using System.Text.Json.Serialization;
@* @inject CSVLoader CsvLoaderInstance *@


<PageTitle>Tree</PageTitle>


<OrgMainLayout>
	<body>
		<div class="container">
		</div>
	</body>
</OrgMainLayout>


@code {

	[Parameter] public string LocID { get; set; }

	private List<Employee> SearchResults;

	private int visibleCount;

	protected override void OnInitialized()
	{
		CSVLoader.OnLoaded += () => StateHasChanged();
		SearchResults = CSVLoader.GetLocationOrgTree(LocID);
	}

	private JsonSerializerOptions options = new JsonSerializerOptions
		{
			PropertyNamingPolicy = null,
			ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.IgnoreCycles
		};

	protected override async Task OnAfterRenderAsync(bool first)
	{
		if (first)
		{
			// Assume CSVLoader.SelectedEmployee is one of the employees in the location.
			Employee startingEmployee = SearchResults[0];
			// string locationId = CsvLoaderInstance.SelectedLocation.ID;

			// Get the trimmed tree (only employees at the selected location).
			Employee trimmedSelectedEmployee = CSVLoader.GetTrimmedSelectedEmployee(startingEmployee, LocID);
			// var emps = JsonSerializer.Serialize(trimmedSelectedEmployee, options);

			Dictionary<string,Employee> allTopUps = new();

			foreach (Employee emp in SearchResults)
			{
				var e = CSVLoader.GetTrimmedSelectedEmployee(emp, LocID);
				allTopUps.TryAdd(e.ID, e);
			}

			// Console.WriteLine("All top ups: " + allTopUps.Count());

			Employee dummyEmployee = new Employee()
				{
					ID = "Connected employees have no supervisor",
					Name = "Organization Root",
					Position = "",
					LocationID = LocID,
					HireDate = "",
					Up = null,
					Downs = new List<Employee>(allTopUps.Values)
				};

			// Console.WriteLine("Total: " + "a");

			var emps = JsonSerializer.Serialize(dummyEmployee, options);



			// var sel = CSVLoader.SearchResults[0];
			// while (sel.Up != null) sel = sel.Up;
			// var emps = JsonSerializer.Serialize(sel, options);


			IJSObjectReference jsModule = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/jsTree.js");
			await jsModule.InvokeVoidAsync("runTree", emps); // Ensure the map is initialized
		}
	}
}